<div class="row">
    <div class="col-12 col-md-3">
        <%= render partial: 'rooms' %>
    </div>

    <div class="col">
        <div class="alert alert-primary">
            <h4 class="alert-heading">
            Selamat Datang di Simpul-chat!
            </h4>

            <p>
              Anda dapat membuat room chat atau masuk ke room chat dari menu sidebar
            </p>
        </div>
    </div>
</div>